<div class="login-container">
  <img src="../../assets/login.png" height="65%">
  <div class="custome-card">
    <h3>Authentification</h3>
    <form style="margin-top: 20%;width: 90%;margin-top: 17%;">
      <div class="form-item">
        <i class="far fa-envelope"></i>
        <input type="text" placeholder="email">
      </div>
      <div class="form-item">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="mot de passe">
      </div>
      <button [routerLink]="['/admin']">
        S'authentifier
      </button>
    </form>
  </div>
</div>