<div class="custom-container">
  <h2>Dashboard - Admin</h2>
  <div class="custom-div">
    <a [routerLink]="['/bloc']">
      <div class="custom-card">
        <img src="../../../assets/content.png" alt="Gestionnaire de contenu">
        Gestionnaire de contenu
      </div>
    </a>
    <a href="">
      <div class="custom-card" style="background-color: #0fbcf9;">
        <img src="../../../assets/calendar.png" style="height: 99px;"
          alt="Gestionnaire de Gestionnaire d'emploi du temps">
        Gestionnaire d'emploi du temps
      </div>
    </a>
    <a href="">
      <div class="custom-card" style="background-color: #e74c3c;">
        <img src="../../../assets/student.png" alt="Gestionnaire des étudiants" style="height: 99px;">
        Gestionnaire des étudiants
      </div>
    </a>
    <a href="">
      <div class="custom-card" style="background-color: #1abc9c;">
        <img src="../../../assets/grade.png" alt="Gestionnaire des notes" style="height: 99px;">
        Gestionnaire des notes
      </div>
    </a>
  </div>
</div>