<div class="custom-container">
  <div class="return-btn-style" [routerLink]="['/contenu']">
    <i class="fas fa-arrow-left"></i> Retour
  </div>
  <div class="container">
    <div class="card" *ngIf="contenu">
      <div class="card-header">
        Modification du {{contenu.titre}}
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="titre"> Titre du contenu :</label>
            <input type="text" id="titre" class="form-control" [(ngModel)]="contenu.titre" name="titre">
          </div>
          <div class="form-group">
            <div class="form-group" *ngIf="contenu.bloc">
              <label for="exampleFormControlSelect1">Type du bloc :</label>
              <select class="form-control" id="exampleFormControlSelect1" name="bloc" [(ngModel)]="contenu.bloc.id">
                <option value="" selected disabled hidden>Choisir le type</option>
                <option *ngFor="let bloc of blocs" value="{{bloc.id}}">{{bloc.nom}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description :</label>
            <ckeditor [editor]="Editor" name="description" [(ngModel)]="contenu.description"></ckeditor>
          </div>
          <div style="display: flex;justify-content: flex-end;">
            <button type="submit" class="btn btn-success">Modifier Contenu</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>